src/HW.Grp/Web References/WebService/Default.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="ManagerLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ManagerLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ManagerLoginResult" type="tns:SponsorAdministrator" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SponsorAdministrator">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="tokenExpires" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Sponsor" type="tns:Sponsors" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ReadOnly" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="SeeUsers" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Anonymized" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="SuperAdminId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Sponsors">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SuperAdminToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sponsorID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuperAdminTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SuperAdminTokenResult" type="tns:SponsorAdministrator" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartmentTree">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartmentTreeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentTreeResult" type="tns:DepartmentTree" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DepartmentTree">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SponsorID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HideEmail" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalCountReceiveInvitation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Departments" type="tns:ArrayOfDepartment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDepartment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Department" nillable="true" type="tns:Department" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Department">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SponsorID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SponsorName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DepartmentId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Depth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalActive" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SubTotal" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstInviteSent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiveInvitation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentShort" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DepthX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCheckReturnIpAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCheckReturnIpAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCheckReturnIpAddressResult" type="tns:Realm" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Realm">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SponsorId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RealmType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RealmIdentifier" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUsersInDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sponsorID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="departmentID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersInDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersInDepartmentResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Sent" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DepartmentID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Stopped" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="StoppedReason" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Internal" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PersonNumber" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindBySponsorAndLanguage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sponsorID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="LangID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindBySponsorAndLanguageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindBySponsorAndLanguageResult" type="tns:ArrayOfSponsorProjectRoundUnit" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSponsorProjectRoundUnit">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SponsorProjectRoundUnit" nillable="true" type="tns:SponsorProjectRoundUnit" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SponsorProjectRoundUnit">
        <s:complexContent mixed="false">
          <s:extension base="tns:ProjectRoundUnit">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Navigation" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ProjectRoundUnitID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ProjectRoundUnit" type="tns:ProjectRoundUnit" />
              <s:element minOccurs="1" maxOccurs="1" name="DefaultAggregation" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ProjectRoundUnit">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadSponsorProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sponsorProjectID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadSponsorProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadSponsorProjectResult" type="tns:ReportPartLang" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReportPartLang">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Header" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Footer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ReportPart" type="tns:ReportPart" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReportPart">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReportPartID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindSponsorProjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sponsorID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindSponsorProjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindSponsorProjectsResult" type="tns:ArrayOfSponsorProject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSponsorProject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SponsorProject" nillable="true" type="tns:SponsorProject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SponsorProject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Sponsor" type="tns:Sponsor" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Header" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Sponsor">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SponsorID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Application" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProjectRoundUnitID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Closed" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Deleted" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SuperSponsorID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsentText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InviteSubject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InviteText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InviteLastSent" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="InviteReminderLastSent" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="InviteReminderSubject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InviteReminderText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AllMessageSubject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AllMessageBody" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AllMessageLastSent" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ForceLID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LoginSubject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LoginText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LoginDays" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LoginWeekday" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LoginLastSent" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SponsorKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TreatmentOffer" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TreatmentOfferText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TreatmentOfferEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TreatmentOfferIfNeededText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TreatmentOfferBQ" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TreatmentOfferBQfn" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TreatmentOfferBQmorethan" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="InfoText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AlternativeTreatmentOfferText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AlternativeTreatmentOfferEmail" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SponsorApiKey" nillable="true" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="MinUserCountToDisclose" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailFrom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DefaultPlotType" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindByProjectAndLanguage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="projectRoundUnitID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="langID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindByProjectAndLanguageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindByProjectAndLanguageResult" type="tns:ArrayOfReportPartLang" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReportPartLang">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReportPartLang" nillable="true" type="tns:ReportPartLang" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindByProjectAndLanguage2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="projectRoundUnitID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="langID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="departmentID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindByProjectAndLanguage2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindByProjectAndLanguage2Result" type="tns:ArrayOfReportPartLang" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindBySponsorWithSponsorAdminInDepth">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sponsorID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sponsorAdminID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindBySponsorWithSponsorAdminInDepthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindBySponsorWithSponsorAdminInDepthResult" type="tns:ArrayOfSponsorDepartment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSponsorDepartment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SponsorDepartment" nillable="true" type="tns:SponsorDepartment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SponsorDepartment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ShortName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Depth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Siblings" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LoginDays" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LoginWeekDay" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindBySponsorBackgroundQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sponsorID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindBySponsorBackgroundQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindBySponsorBackgroundQuestionResult" type="tns:ArrayOfSponsorBackgroundQuestion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSponsorBackgroundQuestion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SponsorBackgroundQuestion" nillable="true" type="tns:SponsorBackgroundQuestion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SponsorBackgroundQuestion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BackgroundQuestion" type="tns:BackgroundQuestion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BackgroundQuestion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Internal" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSponsor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sponsorID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSponsorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSponsorResult" type="tns:Sponsor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindByLanguage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindByLanguageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindByLanguageResult" type="tns:ArrayOfPlotTypeLanguage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPlotTypeLanguage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PlotTypeLanguage" nillable="true" type="tns:PlotTypeLanguage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PlotTypeLanguage">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PlotType" type="tns:PlotType" />
              <s:element minOccurs="0" maxOccurs="1" name="Language" type="tns:Language" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ShortName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SupportsMultipleSeries" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PlotType">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Language">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ConsumeSignedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sponsorID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="samlParameter" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsumeSignedResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsumeSignedResponseResult" type="tns:SponsorAdministrator" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ManagerLogOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ManagerLogOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ManagerLogOutResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportImageUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="LID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sponsorAdminID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sponsorID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="groupBy" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="projectRoundUnit" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="grouping" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="anonymized" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="selectedDepartment" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationMinutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportImageUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportImageUrlResult" type="tns:ArrayOfListURL" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfListURL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ListURL" nillable="true" type="tns:ListURL" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ListURL">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SponsorAdministrator" nillable="true" type="tns:SponsorAdministrator" />
      <s:element name="DepartmentTree" nillable="true" type="tns:DepartmentTree" />
      <s:element name="Realm" nillable="true" type="tns:Realm" />
      <s:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
      <s:element name="User" nillable="true" type="tns:User" />
      <s:element name="ArrayOfSponsorProjectRoundUnit" nillable="true" type="tns:ArrayOfSponsorProjectRoundUnit" />
      <s:element name="ReportPartLang" nillable="true" type="tns:ReportPartLang" />
      <s:element name="ArrayOfSponsorProject" nillable="true" type="tns:ArrayOfSponsorProject" />
      <s:element name="ArrayOfReportPartLang" nillable="true" type="tns:ArrayOfReportPartLang" />
      <s:element name="ArrayOfSponsorDepartment" nillable="true" type="tns:ArrayOfSponsorDepartment" />
      <s:element name="ArrayOfSponsorBackgroundQuestion" nillable="true" type="tns:ArrayOfSponsorBackgroundQuestion" />
      <s:element name="Sponsor" nillable="true" type="tns:Sponsor" />
      <s:element name="ArrayOfPlotTypeLanguage" nillable="true" type="tns:ArrayOfPlotTypeLanguage" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="ArrayOfListURL" nillable="true" type="tns:ArrayOfListURL" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ManagerLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ManagerLogin" />
  </wsdl:message>
  <wsdl:message name="ManagerLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ManagerLoginResponse" />
  </wsdl:message>
  <wsdl:message name="SuperAdminTokenSoapIn">
    <wsdl:part name="parameters" element="tns:SuperAdminToken" />
  </wsdl:message>
  <wsdl:message name="SuperAdminTokenSoapOut">
    <wsdl:part name="parameters" element="tns:SuperAdminTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentTreeSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepartmentTree" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentTreeSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepartmentTreeResponse" />
  </wsdl:message>
  <wsdl:message name="GetCheckReturnIpAddressSoapIn">
    <wsdl:part name="parameters" element="tns:GetCheckReturnIpAddress" />
  </wsdl:message>
  <wsdl:message name="GetCheckReturnIpAddressSoapOut">
    <wsdl:part name="parameters" element="tns:GetCheckReturnIpAddressResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersInDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsersInDepartment" />
  </wsdl:message>
  <wsdl:message name="GetUsersInDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersInDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="FindBySponsorAndLanguageSoapIn">
    <wsdl:part name="parameters" element="tns:FindBySponsorAndLanguage" />
  </wsdl:message>
  <wsdl:message name="FindBySponsorAndLanguageSoapOut">
    <wsdl:part name="parameters" element="tns:FindBySponsorAndLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="ReadSponsorProjectSoapIn">
    <wsdl:part name="parameters" element="tns:ReadSponsorProject" />
  </wsdl:message>
  <wsdl:message name="ReadSponsorProjectSoapOut">
    <wsdl:part name="parameters" element="tns:ReadSponsorProjectResponse" />
  </wsdl:message>
  <wsdl:message name="FindSponsorProjectsSoapIn">
    <wsdl:part name="parameters" element="tns:FindSponsorProjects" />
  </wsdl:message>
  <wsdl:message name="FindSponsorProjectsSoapOut">
    <wsdl:part name="parameters" element="tns:FindSponsorProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="FindByProjectAndLanguageSoapIn">
    <wsdl:part name="parameters" element="tns:FindByProjectAndLanguage" />
  </wsdl:message>
  <wsdl:message name="FindByProjectAndLanguageSoapOut">
    <wsdl:part name="parameters" element="tns:FindByProjectAndLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="FindByProjectAndLanguage2SoapIn">
    <wsdl:part name="parameters" element="tns:FindByProjectAndLanguage2" />
  </wsdl:message>
  <wsdl:message name="FindByProjectAndLanguage2SoapOut">
    <wsdl:part name="parameters" element="tns:FindByProjectAndLanguage2Response" />
  </wsdl:message>
  <wsdl:message name="FindBySponsorWithSponsorAdminInDepthSoapIn">
    <wsdl:part name="parameters" element="tns:FindBySponsorWithSponsorAdminInDepth" />
  </wsdl:message>
  <wsdl:message name="FindBySponsorWithSponsorAdminInDepthSoapOut">
    <wsdl:part name="parameters" element="tns:FindBySponsorWithSponsorAdminInDepthResponse" />
  </wsdl:message>
  <wsdl:message name="FindBySponsorBackgroundQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:FindBySponsorBackgroundQuestion" />
  </wsdl:message>
  <wsdl:message name="FindBySponsorBackgroundQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:FindBySponsorBackgroundQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="GetSponsorSoapIn">
    <wsdl:part name="parameters" element="tns:GetSponsor" />
  </wsdl:message>
  <wsdl:message name="GetSponsorSoapOut">
    <wsdl:part name="parameters" element="tns:GetSponsorResponse" />
  </wsdl:message>
  <wsdl:message name="FindByLanguageSoapIn">
    <wsdl:part name="parameters" element="tns:FindByLanguage" />
  </wsdl:message>
  <wsdl:message name="FindByLanguageSoapOut">
    <wsdl:part name="parameters" element="tns:FindByLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="ConsumeSignedResponseSoapIn">
    <wsdl:part name="parameters" element="tns:ConsumeSignedResponse" />
  </wsdl:message>
  <wsdl:message name="ConsumeSignedResponseSoapOut">
    <wsdl:part name="parameters" element="tns:ConsumeSignedResponseResponse" />
  </wsdl:message>
  <wsdl:message name="ManagerLogOutSoapIn">
    <wsdl:part name="parameters" element="tns:ManagerLogOut" />
  </wsdl:message>
  <wsdl:message name="ManagerLogOutSoapOut">
    <wsdl:part name="parameters" element="tns:ManagerLogOutResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportImageUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportImageUrl" />
  </wsdl:message>
  <wsdl:message name="GetReportImageUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportImageUrlResponse" />
  </wsdl:message>
  <wsdl:message name="ManagerLoginHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="expirationMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ManagerLoginHttpPostOut">
    <wsdl:part name="Body" element="tns:SponsorAdministrator" />
  </wsdl:message>
  <wsdl:message name="SuperAdminTokenHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="sponsorID" type="s:string" />
    <wsdl:part name="expirationMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SuperAdminTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:SponsorAdministrator" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentTreeHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="expirationMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentTreeHttpPostOut">
    <wsdl:part name="Body" element="tns:DepartmentTree" />
  </wsdl:message>
  <wsdl:message name="GetCheckReturnIpAddressHttpPostIn">
    <wsdl:part name="ip" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCheckReturnIpAddressHttpPostOut">
    <wsdl:part name="Body" element="tns:Realm" />
  </wsdl:message>
  <wsdl:message name="GetUsersInDepartmentHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="sponsorID" type="s:string" />
    <wsdl:part name="departmentID" type="s:string" />
    <wsdl:part name="expirationMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUsersInDepartmentHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfUser" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="userID" type="s:string" />
    <wsdl:part name="expirationMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:User" />
  </wsdl:message>
  <wsdl:message name="FindBySponsorAndLanguageHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="sponsorID" type="s:string" />
    <wsdl:part name="LangID" type="s:string" />
    <wsdl:part name="expirationMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindBySponsorAndLanguageHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSponsorProjectRoundUnit" />
  </wsdl:message>
  <wsdl:message name="ReadSponsorProjectHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="sponsorProjectID" type="s:string" />
    <wsdl:part name="expirationMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadSponsorProjectHttpPostOut">
    <wsdl:part name="Body" element="tns:ReportPartLang" />
  </wsdl:message>
  <wsdl:message name="FindSponsorProjectsHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="sponsorID" type="s:string" />
    <wsdl:part name="expirationMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindSponsorProjectsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSponsorProject" />
  </wsdl:message>
  <wsdl:message name="FindByProjectAndLanguageHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="projectRoundUnitID" type="s:string" />
    <wsdl:part name="langID" type="s:string" />
    <wsdl:part name="expirationMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindByProjectAndLanguageHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfReportPartLang" />
  </wsdl:message>
  <wsdl:message name="FindByProjectAndLanguage2HttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="projectRoundUnitID" type="s:string" />
    <wsdl:part name="langID" type="s:string" />
    <wsdl:part name="departmentID" type="s:string" />
    <wsdl:part name="expirationMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindByProjectAndLanguage2HttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfReportPartLang" />
  </wsdl:message>
  <wsdl:message name="FindBySponsorWithSponsorAdminInDepthHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="sponsorID" type="s:string" />
    <wsdl:part name="sponsorAdminID" type="s:string" />
    <wsdl:part name="expirationMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindBySponsorWithSponsorAdminInDepthHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSponsorDepartment" />
  </wsdl:message>
  <wsdl:message name="FindBySponsorBackgroundQuestionHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="sponsorID" type="s:string" />
    <wsdl:part name="expirationMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindBySponsorBackgroundQuestionHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSponsorBackgroundQuestion" />
  </wsdl:message>
  <wsdl:message name="GetSponsorHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="sponsorID" type="s:string" />
    <wsdl:part name="expirationMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSponsorHttpPostOut">
    <wsdl:part name="Body" element="tns:Sponsor" />
  </wsdl:message>
  <wsdl:message name="FindByLanguageHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="LID" type="s:string" />
    <wsdl:part name="expirationMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindByLanguageHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfPlotTypeLanguage" />
  </wsdl:message>
  <wsdl:message name="ConsumeSignedResponseHttpPostIn">
    <wsdl:part name="sponsorID" type="s:string" />
    <wsdl:part name="samlParameter" type="s:string" />
    <wsdl:part name="expirationMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsumeSignedResponseHttpPostOut">
    <wsdl:part name="Body" element="tns:SponsorAdministrator" />
  </wsdl:message>
  <wsdl:message name="ManagerLogOutHttpPostIn">
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ManagerLogOutHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetReportImageUrlHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="startDate" type="s:string" />
    <wsdl:part name="endDate" type="s:string" />
    <wsdl:part name="LID" type="s:string" />
    <wsdl:part name="sponsorAdminID" type="s:string" />
    <wsdl:part name="sponsorID" type="s:string" />
    <wsdl:part name="groupBy" type="s:string" />
    <wsdl:part name="projectRoundUnit" type="s:string" />
    <wsdl:part name="grouping" type="s:string" />
    <wsdl:part name="anonymized" type="s:string" />
    <wsdl:part name="selectedDepartment" type="s:string" />
    <wsdl:part name="expirationMinutes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetReportImageUrlHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfListURL" />
  </wsdl:message>
  <wsdl:portType name="SoapSoap">
    <wsdl:operation name="ManagerLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates a username and password combination and, if there is a match, returns a Sponsor Admin object including sponsor data with token, variable lifetime (max 20 minutes).</wsdl:documentation>
      <wsdl:input message="tns:ManagerLoginSoapIn" />
      <wsdl:output message="tns:ManagerLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SuperAdminToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates token and sponsor ID to create a Super Admin Token.</wsdl:documentation>
      <wsdl:input message="tns:SuperAdminTokenSoapIn" />
      <wsdl:output message="tns:SuperAdminTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentTree">
      <wsdl:input message="tns:GetDepartmentTreeSoapIn" />
      <wsdl:output message="tns:GetDepartmentTreeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCheckReturnIpAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetReturnIpAddress check if that Ip address is realm identifier/If the sponsorId,RealmIdentifier,RealmType has valuew means part of realm </wsdl:documentation>
      <wsdl:input message="tns:GetCheckReturnIpAddressSoapIn" />
      <wsdl:output message="tns:GetCheckReturnIpAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersInDepartment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate a list of users under a specific department</wsdl:documentation>
      <wsdl:input message="tns:GetUsersInDepartmentSoapIn" />
      <wsdl:output message="tns:GetUsersInDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get user with the specified userID</wsdl:documentation>
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindBySponsorAndLanguage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will find (Navigation, ProjectRoundUnitID, DefaultAggregation, ProjectRoundUnit) which will be using for filling in the fields on Survey dropdown list using sponsorID and langID</wsdl:documentation>
      <wsdl:input message="tns:FindBySponsorAndLanguageSoapIn" />
      <wsdl:output message="tns:FindBySponsorAndLanguageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadSponsorProject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will get the data for ReportPartLang.</wsdl:documentation>
      <wsdl:input message="tns:ReadSponsorProjectSoapIn" />
      <wsdl:output message="tns:ReadSponsorProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindSponsorProjects">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will get data for SponsorProject.</wsdl:documentation>
      <wsdl:input message="tns:FindSponsorProjectsSoapIn" />
      <wsdl:output message="tns:FindSponsorProjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindByProjectAndLanguage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will get the SponsorProjectUnit.</wsdl:documentation>
      <wsdl:input message="tns:FindByProjectAndLanguageSoapIn" />
      <wsdl:output message="tns:FindByProjectAndLanguageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindByProjectAndLanguage2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will get the SponsorProjectUnit.  The only difference with the other one is that it has departmentID parameter.</wsdl:documentation>
      <wsdl:input message="tns:FindByProjectAndLanguage2SoapIn" />
      <wsdl:output message="tns:FindByProjectAndLanguage2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindBySponsorWithSponsorAdminInDepth">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the depth of each department.</wsdl:documentation>
      <wsdl:input message="tns:FindBySponsorWithSponsorAdminInDepthSoapIn" />
      <wsdl:output message="tns:FindBySponsorWithSponsorAdminInDepthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindBySponsorBackgroundQuestion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will get the background questions.</wsdl:documentation>
      <wsdl:input message="tns:FindBySponsorBackgroundQuestionSoapIn" />
      <wsdl:output message="tns:FindBySponsorBackgroundQuestionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSponsor">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will get the user's sponsor details.</wsdl:documentation>
      <wsdl:input message="tns:GetSponsorSoapIn" />
      <wsdl:output message="tns:GetSponsorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindByLanguage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the PlotTypeLanguage details using the language ID</wsdl:documentation>
      <wsdl:input message="tns:FindByLanguageSoapIn" />
      <wsdl:output message="tns:FindByLanguageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsumeSignedResponse">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will validate the SAML and check the value if it is a valid sponsor.</wsdl:documentation>
      <wsdl:input message="tns:ConsumeSignedResponseSoapIn" />
      <wsdl:output message="tns:ConsumeSignedResponseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ManagerLogOut">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Expire token. Returns true if successful.</wsdl:documentation>
      <wsdl:input message="tns:ManagerLogOutSoapIn" />
      <wsdl:output message="tns:ManagerLogOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportImageUrl">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate report image url and return array of urls.</wsdl:documentation>
      <wsdl:input message="tns:GetReportImageUrlSoapIn" />
      <wsdl:output message="tns:GetReportImageUrlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SoapHttpPost">
    <wsdl:operation name="ManagerLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates a username and password combination and, if there is a match, returns a Sponsor Admin object including sponsor data with token, variable lifetime (max 20 minutes).</wsdl:documentation>
      <wsdl:input message="tns:ManagerLoginHttpPostIn" />
      <wsdl:output message="tns:ManagerLoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SuperAdminToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates token and sponsor ID to create a Super Admin Token.</wsdl:documentation>
      <wsdl:input message="tns:SuperAdminTokenHttpPostIn" />
      <wsdl:output message="tns:SuperAdminTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentTree">
      <wsdl:input message="tns:GetDepartmentTreeHttpPostIn" />
      <wsdl:output message="tns:GetDepartmentTreeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCheckReturnIpAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetReturnIpAddress check if that Ip address is realm identifier/If the sponsorId,RealmIdentifier,RealmType has valuew means part of realm </wsdl:documentation>
      <wsdl:input message="tns:GetCheckReturnIpAddressHttpPostIn" />
      <wsdl:output message="tns:GetCheckReturnIpAddressHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersInDepartment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate a list of users under a specific department</wsdl:documentation>
      <wsdl:input message="tns:GetUsersInDepartmentHttpPostIn" />
      <wsdl:output message="tns:GetUsersInDepartmentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get user with the specified userID</wsdl:documentation>
      <wsdl:input message="tns:GetUserInfoHttpPostIn" />
      <wsdl:output message="tns:GetUserInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FindBySponsorAndLanguage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will find (Navigation, ProjectRoundUnitID, DefaultAggregation, ProjectRoundUnit) which will be using for filling in the fields on Survey dropdown list using sponsorID and langID</wsdl:documentation>
      <wsdl:input message="tns:FindBySponsorAndLanguageHttpPostIn" />
      <wsdl:output message="tns:FindBySponsorAndLanguageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadSponsorProject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will get the data for ReportPartLang.</wsdl:documentation>
      <wsdl:input message="tns:ReadSponsorProjectHttpPostIn" />
      <wsdl:output message="tns:ReadSponsorProjectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FindSponsorProjects">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will get data for SponsorProject.</wsdl:documentation>
      <wsdl:input message="tns:FindSponsorProjectsHttpPostIn" />
      <wsdl:output message="tns:FindSponsorProjectsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FindByProjectAndLanguage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will get the SponsorProjectUnit.</wsdl:documentation>
      <wsdl:input message="tns:FindByProjectAndLanguageHttpPostIn" />
      <wsdl:output message="tns:FindByProjectAndLanguageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FindByProjectAndLanguage2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will get the SponsorProjectUnit.  The only difference with the other one is that it has departmentID parameter.</wsdl:documentation>
      <wsdl:input message="tns:FindByProjectAndLanguage2HttpPostIn" />
      <wsdl:output message="tns:FindByProjectAndLanguage2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FindBySponsorWithSponsorAdminInDepth">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the depth of each department.</wsdl:documentation>
      <wsdl:input message="tns:FindBySponsorWithSponsorAdminInDepthHttpPostIn" />
      <wsdl:output message="tns:FindBySponsorWithSponsorAdminInDepthHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FindBySponsorBackgroundQuestion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will get the background questions.</wsdl:documentation>
      <wsdl:input message="tns:FindBySponsorBackgroundQuestionHttpPostIn" />
      <wsdl:output message="tns:FindBySponsorBackgroundQuestionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSponsor">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will get the user's sponsor details.</wsdl:documentation>
      <wsdl:input message="tns:GetSponsorHttpPostIn" />
      <wsdl:output message="tns:GetSponsorHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FindByLanguage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the PlotTypeLanguage details using the language ID</wsdl:documentation>
      <wsdl:input message="tns:FindByLanguageHttpPostIn" />
      <wsdl:output message="tns:FindByLanguageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsumeSignedResponse">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will validate the SAML and check the value if it is a valid sponsor.</wsdl:documentation>
      <wsdl:input message="tns:ConsumeSignedResponseHttpPostIn" />
      <wsdl:output message="tns:ConsumeSignedResponseHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ManagerLogOut">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Expire token. Returns true if successful.</wsdl:documentation>
      <wsdl:input message="tns:ManagerLogOutHttpPostIn" />
      <wsdl:output message="tns:ManagerLogOutHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportImageUrl">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate report image url and return array of urls.</wsdl:documentation>
      <wsdl:input message="tns:GetReportImageUrlHttpPostIn" />
      <wsdl:output message="tns:GetReportImageUrlHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapSoap" type="tns:SoapSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ManagerLogin">
      <soap:operation soapAction="http://tempuri.org/ManagerLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuperAdminToken">
      <soap:operation soapAction="http://tempuri.org/SuperAdminToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentTree">
      <soap:operation soapAction="http://tempuri.org/GetDepartmentTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckReturnIpAddress">
      <soap:operation soapAction="http://tempuri.org/GetCheckReturnIpAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersInDepartment">
      <soap:operation soapAction="http://tempuri.org/GetUsersInDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBySponsorAndLanguage">
      <soap:operation soapAction="http://tempuri.org/FindBySponsorAndLanguage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadSponsorProject">
      <soap:operation soapAction="http://tempuri.org/ReadSponsorProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindSponsorProjects">
      <soap:operation soapAction="http://tempuri.org/FindSponsorProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByProjectAndLanguage">
      <soap:operation soapAction="http://tempuri.org/FindByProjectAndLanguage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByProjectAndLanguage2">
      <soap:operation soapAction="http://tempuri.org/FindByProjectAndLanguage2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBySponsorWithSponsorAdminInDepth">
      <soap:operation soapAction="http://tempuri.org/FindBySponsorWithSponsorAdminInDepth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBySponsorBackgroundQuestion">
      <soap:operation soapAction="http://tempuri.org/FindBySponsorBackgroundQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSponsor">
      <soap:operation soapAction="http://tempuri.org/GetSponsor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByLanguage">
      <soap:operation soapAction="http://tempuri.org/FindByLanguage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsumeSignedResponse">
      <soap:operation soapAction="http://tempuri.org/ConsumeSignedResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManagerLogOut">
      <soap:operation soapAction="http://tempuri.org/ManagerLogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportImageUrl">
      <soap:operation soapAction="http://tempuri.org/GetReportImageUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SoapSoap12" type="tns:SoapSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ManagerLogin">
      <soap12:operation soapAction="http://tempuri.org/ManagerLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuperAdminToken">
      <soap12:operation soapAction="http://tempuri.org/SuperAdminToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentTree">
      <soap12:operation soapAction="http://tempuri.org/GetDepartmentTree" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckReturnIpAddress">
      <soap12:operation soapAction="http://tempuri.org/GetCheckReturnIpAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersInDepartment">
      <soap12:operation soapAction="http://tempuri.org/GetUsersInDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://tempuri.org/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBySponsorAndLanguage">
      <soap12:operation soapAction="http://tempuri.org/FindBySponsorAndLanguage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadSponsorProject">
      <soap12:operation soapAction="http://tempuri.org/ReadSponsorProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindSponsorProjects">
      <soap12:operation soapAction="http://tempuri.org/FindSponsorProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByProjectAndLanguage">
      <soap12:operation soapAction="http://tempuri.org/FindByProjectAndLanguage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByProjectAndLanguage2">
      <soap12:operation soapAction="http://tempuri.org/FindByProjectAndLanguage2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBySponsorWithSponsorAdminInDepth">
      <soap12:operation soapAction="http://tempuri.org/FindBySponsorWithSponsorAdminInDepth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBySponsorBackgroundQuestion">
      <soap12:operation soapAction="http://tempuri.org/FindBySponsorBackgroundQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSponsor">
      <soap12:operation soapAction="http://tempuri.org/GetSponsor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByLanguage">
      <soap12:operation soapAction="http://tempuri.org/FindByLanguage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsumeSignedResponse">
      <soap12:operation soapAction="http://tempuri.org/ConsumeSignedResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManagerLogOut">
      <soap12:operation soapAction="http://tempuri.org/ManagerLogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportImageUrl">
      <soap12:operation soapAction="http://tempuri.org/GetReportImageUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SoapHttpPost" type="tns:SoapHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ManagerLogin">
      <http:operation location="/ManagerLogin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuperAdminToken">
      <http:operation location="/SuperAdminToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentTree">
      <http:operation location="/GetDepartmentTree" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckReturnIpAddress">
      <http:operation location="/GetCheckReturnIpAddress" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersInDepartment">
      <http:operation location="/GetUsersInDepartment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <http:operation location="/GetUserInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBySponsorAndLanguage">
      <http:operation location="/FindBySponsorAndLanguage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadSponsorProject">
      <http:operation location="/ReadSponsorProject" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindSponsorProjects">
      <http:operation location="/FindSponsorProjects" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByProjectAndLanguage">
      <http:operation location="/FindByProjectAndLanguage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByProjectAndLanguage2">
      <http:operation location="/FindByProjectAndLanguage2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBySponsorWithSponsorAdminInDepth">
      <http:operation location="/FindBySponsorWithSponsorAdminInDepth" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBySponsorBackgroundQuestion">
      <http:operation location="/FindBySponsorBackgroundQuestion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSponsor">
      <http:operation location="/GetSponsor" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByLanguage">
      <http:operation location="/FindByLanguage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsumeSignedResponse">
      <http:operation location="/ConsumeSignedResponse" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManagerLogOut">
      <http:operation location="/ManagerLogOut" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportImageUrl">
      <http:operation location="/GetReportImageUrl" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Soap">
    <wsdl:port name="SoapSoap" binding="tns:SoapSoap">
      <soap:address location="http://localhost:5677/Default.asmx" />
    </wsdl:port>
    <wsdl:port name="SoapSoap12" binding="tns:SoapSoap12">
      <soap12:address location="http://localhost:5677/Default.asmx" />
    </wsdl:port>
    <wsdl:port name="SoapHttpPost" binding="tns:SoapHttpPost">
      <http:address location="http://localhost:5677/Default.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>